.home-sec {
  background-image: url("https://media.discordapp.net/attachments/1164497786964803585/1198199964178849824/360_F_487486623_CatNgUbulZ6rOpENckeTzRfY7IzrqOKd.png?ex=65be09ac&is=65ab94ac&hm=ccb2ae1c16851945fa0d06f69961e7b1d449501399a417deacd493d94f9a7eee&=&format=webp&quality=lossless&width=1074&height=537");
  background-repeat: no-repeat;
  background-size: cover;
}
  


